<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="app.component.css">
  <script src="app.component.js"></script>
</head>
<body>
  <div>
    <div class="navbar">
      <img alt="logo" src="../assets/logo.JPG">
      <ul>
        <li><a class="active" href="#home">//Home</a></li>
        <li><a href="#news">//About</a></li>
        <li><a href="#contact">//Projects</a></li>
        <li><a href="#about">//Resume</a></li>
      </ul>
    </div>
    <h1>Hello there, I am GaYoung Park</h1>
  </div>
</body>
</html>
